// Place all the styles related to the Tokimons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$brand-primary: #a6192e;
$dark_gray-primary: #202020;
$brand-language: #B01302;

.tokimons_table {
  height: 30px;
  margin-bottom: 20px;

  border: 1.5px solid;
  border-color: white;

}
.tokimons_table thead{
  background-color: lighten($dark_gray-primary, 3%);
  color: white;
}
.tokimons_table th{
  padding-left: 20px;
  padding-right: 20px;
;
}
